@model TSP_PROJECT.Models.Batch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Expertise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCoordinator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCoordinator.Email)
        </dd>
    </dl>
</div>
<div>
 |
    <a asp-action="Index">Back to List</a>
</div>
