@model IEnumerable<TSP_PROJECT.Models.Batch>

@{
    ViewData["Title"] = "Index";
}

<h1>Batch</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="emptable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCoordinator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.Expertise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCoordinator.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script>
    $(document).ready(function () {
        $("#emptable").DataTable({
            layout: {
                bottomStart: {
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                }
            }
        });
    });
</script>
}