@model IEnumerable<TSP_PROJECT.Models.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Exam</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="emptable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Batch.BatchName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script>
    $(document).ready(function () {
        $("#emptable").DataTable({
            layout: {
                bottomStart: {
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                }
            }
        });
    });
</script>
}